<form action="/signin", method="post">
  <p>username <input type="text" name="username" size="20" /></p>
  <p>password <input type="password" name="password" size="20" /></p>
  <p><input type="submit" value="signin" /></p>
</form>
<a href="/regist">新規登録</a>
